* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-top: .7rem;
}

body {
    margin-top: 1rem;   
    margin-right: 1rem;
    margin-bottom: .7rem;
}

.flexivel {
    display: flex;
}

.big-container {
    background-color: #89CFF0;
    width: 175vh;
    height: 25vh;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.small-container {
    background-color: #89CFF0;
    margin-left: .9rem;
    width: 50vh;
    height: 25vh;
    border-radius: 1rem;
}

.imagemRobo img {
    max-width: 300px;
    width: 300px;
    height: 200px;
    padding-left: 2rem;
    padding-bottom: 1rem;
}